<p
  class="font-weight-bolder"
  [ngStyle]="{
    color: employee.position === 1 ? colorStaff : colorCrew,
    'font-size': '1.3rem'
  }"
>
  <span routerLink="/karyawan-detail/{{ employee._id }}">
    {{ employee.name }}
  </span>

  <span
    class="pl-4"
    role="button"
    id="dropdownDeletePanitia"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    ><fa-icon [icon]="faEllipsisV"></fa-icon>
    <div class="dropdown-menu" aria-labelledby="dropdownDeletePanitia">
      <a class="dropdown-item" (click)="deletePanitia()">Delete</a>
    </div>
  </span>
</p>
