<div class="container mt-5">
  <ng-container *ngIf="loading; else loadingCompleted">
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner-border-lg" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingCompleted>
    <div class="row align-items-center">
      <div class="col-md-11">
        <span
          class="btn font-weight-bold px-5 py-2"
          [ngStyle]="{
            'background-color': '#5f27cd',
            color: '#fff'
          }"
        >
          Admin
        </span>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row mt-5">
      <div class="col text-left">
        <h5 class="font-weight-bolder">Detail Profil</h5>
      </div>
    </div>
    <hr class="mb-3" />
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5 class="font-weight-bold mb-3">Akun Detail</h5>
        <h6 class="float-left font-weight-bolder">Username</h6>
        <p class="float-right">{{ employee.username }}</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </ng-template>
</div>
