<nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom">
  <div class="container">
    <a routerLink="/" class="navbar-brand" class="py-3">
      <img src="assets/img/logo.png" alt="logo" height="30" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <li class="nav-item">
            <a
              routerLink="/login"
              class="nav-link text-dark text-medium font-weight-bold"
              >Masuk</a
            >
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item mr-3">
            <a
              routerLink="/acara"
              class="nav-link text-dark text-medium font-weight-bold"
              >Acara</a
            >
          </li>
          <li class="nav-item mr-3">
            <div class="dropdown">
              <!-- <a
                routerLink="/acara"
                class="nav-link text-dark text-medium font-weight-bold"
                >Acara</a
              > -->
              <a
                href="#"
                class="dropdown-toggle nav-link text-dark text-medium font-weight-bold"
                id="notifikasiLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                (click)="loadNotification()"
              >
                <fa-icon [icon]="faBell"></fa-icon>
                <span
                  class="ml-2 badge badge-purple text-white"
                  *ngIf="unreadNotification > 0"
                  >{{ unreadNotification }}</span
                >
              </a>

              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="notifikasiLink"
              >
                <a
                  *ngFor="let notification of notifications"
                  class="dropdown-item py-3"
                  [routerLink]="
                    notification.type === 1
                      ? ['/acara-detail/', notification.idReference]
                      : ['/karyawan-detail/', notification.idReference]
                  "
                >
                  <span
                    *ngIf="!notification.isRead"
                    class="badge badge-purple text-white"
                    >New</span
                  >
                  {{ notification.message }}
                </a>
                <!-- <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </div>
          </li>
          <li class="nav-item mr-3">
            <a
              routerLink="/karyawan"
              class="nav-link text-dark text-medium font-weight-bold"
              >Karyawan</a
            >
          </li>
          <li class="nav-item mr-5" *ngIf="user">
            <ng-container *ngIf="!isAdmin; else profilAdmin">
              <a
                routerLink="/karyawan-detail/{{ user._id }}"
                class="nav-link text-dark text-medium font-weight-bold"
                >Profil</a
              >
            </ng-container>
            <ng-template #profilAdmin>
              <a
                routerLink="/admin-detail/{{ user._id }}"
                class="nav-link text-dark text-medium font-weight-bold"
                >Profil</a
              >
            </ng-template>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-dark text-medium font-weight-bold hand-on-hover text-muted"
              (click)="logout()"
            >
              Logout
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
