<nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom">
  <div class="container">
    <a routerLink="/" class="navbar-brand" class="py-3">
      <img src="assets/img/logo.png" alt="logo" height="30" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <li class="nav-item">
            <a
              routerLink="/login"
              class="nav-link text-dark text-medium font-weight-bold"
              >Masuk</a
            >
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item mr-3">
            <a
              routerLink="/acara"
              class="nav-link text-dark text-medium font-weight-bold"
              >Acara</a
            >
          </li>
          <li class="nav-item mr-3">
            <a
              routerLink="/karyawan"
              class="nav-link text-dark text-medium font-weight-bold"
              >Karyawan</a
            >
          </li>
          <li class="nav-item mr-5">
            <a
              routerLink="/login"
              class="nav-link text-dark text-medium font-weight-bold"
              >Profil</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-dark text-medium font-weight-bold hand-on-hover text-muted"
              (click)="logout()"
            >
              Logout
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
