<div class="row">
  <div class="col-12 mb-3">
    <span
      class="px-3 py-2 rounded mr-3 font-weight-bold"
      [ngStyle]="{
        'background-color': colorCrew,
        color: '#fff'
      }"
    >
      Kru
    </span>
    <span
      class="px-3 py-2 rounded font-weight-bold"
      [ngStyle]="{
        'background-color': colorStaff,
        color: '#fff'
      }"
    >
      Staf
    </span>
  </div>
  <div class="col-sm-4 col-md-3" *ngFor="let committee of committees">
    <app-panitia-item [employee]="committee"></app-panitia-item>
  </div>
</div>
