<div class="container mt-5">
  <app-acara-deskripsi
    [event]="event"
    [date]="formattedDate"
  ></app-acara-deskripsi>
  <div class="row mt-5">
    <div class="col-6 text-left">
      <h4 class="font-weight-bolder">Panitia</h4>
    </div>
    <div class="col-6 text-right">
      <fa-icon [icon]="faEdit" (click)="setEditPanitia()"></fa-icon>
    </div>
  </div>
  <div class="mt-3" *ngIf="editPanitia">
    <div class="row">
      <select
        class="form-control col-sm-12 col-md-8"
        [(ngModel)]="selectedOption"
      >
        <option *ngFor="let employee of employees" [value]="employee._id">
          {{ employee.name }}
        </option>
      </select>
      <div class="col-sm-12 col-md-4">
        <button class="btn btn-block btn-purple" (click)="addPanitia()">
          Tambah
        </button>
      </div>
    </div>
  </div>
  <hr class="mb-3" />
  <ng-container *ngIf="!committees; else committeesIsFound">
    <p>Panitia kosong</p>
  </ng-container>
  <ng-template #committeesIsFound>
    <app-panitia-list [committees]="committees"></app-panitia-list>
  </ng-template>

  <h4 class="font-weight-bolder mt-4">Vendor</h4>
  <hr class="mb-3" />
  <ng-container *ngIf="!vendors; else vendorIsFound">
    <p>Vendor kosong</p>
  </ng-container>
  <ng-template #vendorIsFound>
    <app-vendor-list [vendors]="vendors"></app-vendor-list>
  </ng-template>

  <h4 class="font-weight-bolder mt-4">Penugasan</h4>
  <hr class="mb-3" />
  <ng-container *ngIf="!assignments; else assignmentIsFound">
    <p>Tidak ada penugasan</p>
  </ng-container>
  <ng-template #assignmentIsFound>
    <app-penugasan-list
      (setAssignment)="setAssignment($event)"
      [assignments]="assignments"
    ></app-penugasan-list>
  </ng-template>

  <h4 class="font-weight-bolder mt-4">Dokumen</h4>
  <hr class="mb-3" />
  <ng-container *ngIf="!documents; else documentIsFound">
    <p>Tidak ada dokumen</p>
  </ng-container>
  <ng-template #documentIsFound>
    <app-dokumen-list [documents]="documents"></app-dokumen-list>
  </ng-template>
</div>
