<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="my-3 mx-auto">
        <h1 class="font-weight-bolder text-purple mb-4 text-center">
          Selamat Datang Kembali
        </h1>
        <div class="float-right">
          <h6>Login Sebagai:</h6>
          <button
            class="border-right pr-3 btn"
            [ngClass]="{ 'font-weight-bold': !isAdminLogin }"
            (click)="setLoginEmployee()"
          >
            Karyawan
          </button>
          <button
            class="pl-3 btn"
            [ngClass]="{ 'font-weight-bold': isAdminLogin }"
            (click)="setLoginAdmin()"
          >
            Admin
          </button>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="isLoginFailed" class="alert alert-purple mt-3" role="alert">
          Username atau Password salah
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-5">
            <label for="username" class="font-weight-bold">Username</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="username"
              formControlName="username"
              required
            />
          </div>
          <div class="form-group mb-5">
            <label for="password" class="font-weight-bold">Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              id="password"
              formControlName="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-block btn-lg btn-purple mt-4">
            Masuk
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="ml-4 mr-4 d-flex justify-content-center align-items-center">
        <img
          src="assets/img/login.png"
          alt="beranda illustration"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
