<div
  class="card"
  [ngStyle]="{
    'border-color': event.category.color
  }"
>
  <div class="card-body">
    <span
      [ngStyle]="{
        'background-color': event.category.color,
        color: '#fff'
      }"
      class="px-4 py-2 rounded font-weight-bold text-bg"
    >
      {{ event.category.name.toUpperCase() }}
    </span>
    <span *ngIf="event.isFinished" class="badge badge-pill badge-secondary ml-3"
      >Acara Selesai</span
    >
    <button
      *ngIf="event.isFinished"
      class="btn btn-outline-secondary ml-3 float-right"
      (click)="deleteAcara()"
    >
      Hapus Acara
    </button>
    <hr />
    <div class="row mt-4">
      <div class="col-sm-12 col-md-6 border-right">
        <h5 class="float-left font-weight-bolder">Klien</h5>
        <p class="float-right">{{ event.client }}</p>
        <div class="clearfix"></div>
        <h5 class="float-left font-weight-bolder">Alamat Acara</h5>
        <p class="float-right">{{ event.addressEvent }}</p>
        <div class="clearfix"></div>
        <h5 class="float-left font-weight-bolder">Tanggal</h5>
        <p class="float-right">{{ date }}</p>
        <div class="clearfix"></div>
        <h5 class="float-left font-weight-bolder">Nomor Telepon</h5>
        <p class="float-right">{{ event.phone }}</p>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <h4 class="font-weight-bolder text-muted">Penanggung Jawab</h4>
        <h5 class="font-weight-bold mt-3">{{ event.pic.name }}</h5>
      </div>
    </div>
  </div>
</div>
