<div class="container mt-5">
  <div class="text-center mb-3">
    <button
      class="btn btn-lg btn-block btn-outline-purple font-weight-bold"
      routerLink="/buat-acara"
      *ngIf="user.position !== undefined && user.position === 1"
    >
      Buat Acara
    </button>
  </div>
  <div *ngIf="loading; else loadingCompleted">
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner-border-lg" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <ng-template #loadingCompleted>
    <h4 class="font-weight-bolder mb-4">Kategori</h4>
    <app-categories
      (setCategorySelected)="setCategorySelected($event)"
      [categories]="categories"
    ></app-categories>
    <h4 class="font-weight-bolder mt-5">Acara Saat Ini</h4>
    <hr class="mb-4" />
    <app-events [events]="eventsOngoing"></app-events>
    <h4 class="font-weight-bolder mt-5">Riwayat Acara</h4>
    <hr class="mb-4" />
    <app-events [events]="eventsFinished"></app-events>
  </ng-template>
</div>
