<div class="container mt-5">
  <div class="text-center mb-3">
    <button
      class="btn btn-lg btn-block btn-outline-purple font-weight-bold"
      routerLink="/buat-acara"
    >
      Buat Acara
    </button>
  </div>
  <h4 class="font-weight-bolder mb-4">Kategori</h4>
  <app-categories
    (setCategorySelected)="setCategorySelected($event)"
    [categories]="categories"
  ></app-categories>
  <h4 class="font-weight-bolder mt-5">Acara Saat Ini</h4>
  <hr class="mb-4" />
  <app-events [events]="eventsOngoing"></app-events>
  <h4 class="font-weight-bolder mt-5">Riwayat Acara</h4>
  <hr class="mb-4" />
  <app-events [events]="eventsFinished"></app-events>
</div>
